
    #parte1 {
        width:320px;
        height:420px;
        top:50%;
        left:50%;
        position:absolute;
        transform:translate(-50%, -50%);
        box-sizing: border-box;
        padding:70px 30px;
        background-color: black;
    }

    #parte1 .avatar{
        width:100px;
        height:100px;
        border-radius:50%;
        position:absolute;
        top:-60px;
        left:calc(50% - 50px);
    }

    #parte1 input{
        width:100%;
        margin-bottom:20px;

    }

    #parte1 label{
        margin:0;
        padding:0;
        font-weight:bold;
        display:block;

    }
    .botonIni{
        border:none;
        outline:none;
        height:40px;
        background:red;
        color:white;
        font-size:18px;
        border-radius:20px;
    }

    .botonIni:hover{
        background-color:  #ff0080;
    }

        #parte1 input[type="text"],
    #parte1 input[type="password"]{
        border:none;
        border-bottom:1px solid white;
        background: transparent;
        outline: none;
        height:40px;
        color:white;
        font-size:16px;
    }
    #parte2 {
        margin:20px;
        padding:10px;
        background-color:gray;
        text-align:right;
    }
    .borde-redondo {
        border: #000 solid 2px;
        border-radius: 10px;
        outline:none;

    }

    #parte1 a{
        text-decoration:none;
        font-size:12px;
        line-height:20px;
        color:darkgrey;
    }

    #parte1 a:hover{
        color:white;
    }

    .boton {
        border: #000 solid 1px;
        border-radius: 10px;
        background-color: red;
        color: white;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.4s;
        outline:none;
    }
    .botonI{
        border: #000 solid 1px;
        border-radius: 10px;
        background-color: gray;
        color: white;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.4s;
        outline:none;
    }
    .desing{
        background-image:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1591679098/u31dbuccy49bcyoml9gh.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
        margin:0;
        width:100%;
        height:560px;
        padding:30px;
    }

    /*==================================*/
    /*DISENO DE CREATE*/
    .content{
        margin:auto;
        perspective:3000px;
        perspective-origin:0px -150px;
        border-radius:50%;
    }
    .circulo{
        width:35px;
        height:35px;
        position:relative;
        transform-style:preserve-3d;
        animation: girar 5s infinite ;
        border-radius:50%;
    }
    .back-piedra{
        background-image:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1591298552/wnmalvqtpylwz8scsa6j.jpg);
    }

    .back-dije{

        background-image:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592625830/dosq1uw1rlxnyjztiduf.jpg);

    }
    @keyframes girar{
        from {

            transform: rotateY(0deg);

        }
        to {
            transform: rotateY(360deg);
        }
    }

    .cara{
        position:absolute;
        width:100%;
        height:100%;
        border-radius:50%;
    }

    #uno{

        transform:translateZ(100px);
    }
    #uno-2{

        transform:translateZ(100px) rotateX(90deg);
    }
    #uno-3{

         transform: translateZ(100px) rotateY(90deg);
    }


    #dos{

         transform: translateX(100px) rotateY(90deg);
    }
    #dos-2{

        transform:translateX(100px) rotateX(90deg);
    }
    #dos-3{

         transform: translateX(100px) rotateZ(90deg);
    }


    #tres{

        transform: translateZ(-100px) ;
    }
    #tres-2{

         transform: translateZ(-100px) rotateZ(90deg);
    }
    #tres-3{

         transform: translateZ(-100px) rotateY(90deg);
    }


    #cuatro{

         transform: translateX(-100px) rotateY(90deg) ;
    }

    #cuatro-2{

         transform: translateX(-100px) rotateZ(90deg);
    }

    #cuatro-3{

         transform: translateX(-100px) rotateX(90deg);
    }

    #cinco{

        transform:translateX(-80px)translateZ(80px);

    }
    #cinco-2{

        transform:translateX(-80px)translateZ(80px)rotateY(90deg);

    }
    #cinco-3{

        transform:translateX(-80px)translateZ(80px)rotateZ(90deg);

    }

    #seis{

        transform:translateX(80px)translateZ(-80px);

    }
    #seis-2{

        transform:translateX(80px)translateZ(-80px)rotateY(90deg);

    }
    #seis-3{

        transform:translateX(80px)translateZ(-80px)rotateZ(90deg);

    }

    #siete{

        transform:translateX(-80px)translateZ(-80px);

    }
    #siete-2{

        transform:translateX(-80px)translateZ(-80px)rotateY(90deg);

    }
    #siete-3{

        transform:translateX(-80px)translateZ(-80px)rotateZ(90deg);

    }

    #nueve{

        transform:translateX(-42px)translateZ(-93px);

    }
    #nueve-2{

        transform:translateX(-42px)translateZ(-93px)rotateY(90deg);

    }
    #nueve-3{

        transform:translateX(-42px)translateZ(-93px)rotateZ(90deg);

    }

    #dies{

        transform:translateX(42px)translateZ(-93px);

    }
    #dies-2{

        transform:translateX(42px)translateZ(-93px)rotateX(90deg);

    }
    #dies-3{

        transform:translateX(42px)translateZ(-93px)rotateY(90deg);

    }

    #once{

        transform:translateX(42px)translateZ(93px);

    }
    #once-2{

        transform:translateX(42px)translateZ(93px)rotateX(90deg);

    }
    #once-3{

        transform:translateX(42px)translateZ(93px)rotateY(90deg);

    }

    #doce{

        transform:translateX(-42px)translateZ(93px);

    }
    #doce-2{

        transform:translateX(-42px)translateZ(93px)rotateX(90deg);

    }
    #doce-3{

        transform:translateX(-42px)translateZ(93px)rotateY(90deg);

    }

    #trese{

         transform: translateX(-92px)translateZ(36px) rotateY(90deg) ;
    }

    #trese-2{

         transform: translateX(-92px)translateZ(36px) rotateZ(90deg);
    }

    #trese-3{

         transform: translateX(-92px)translateZ(36px) rotateX(90deg);
    }

    #catorse{

         transform: translateX(92px)translateZ(36px) rotateY(90deg) ;
    }

    #catorse-2{

         transform: translateX(92px)translateZ(36px) rotateZ(90deg);
    }

    #catorse-3{

         transform: translateX(92px)translateZ(36px) rotateX(90deg);
    }

    #quince{

         transform: translateX(92px)translateZ(-36px) rotateY(90deg) ;
    }

    #quince-2{

         transform: translateX(92px)translateZ(-36px) rotateZ(90deg);
    }

    #quince-3{

         transform: translateX(92px)translateZ(-36px) rotateX(90deg);
    }

    #diesiseis{

         transform: translateX(-92px)translateZ(-36px) rotateY(90deg) ;
    }

    #diesiseis-2{

         transform: translateX(-92px)translateZ(-36px) rotateZ(90deg);
    }

    #diesiseis-3{

         transform: translateX(-92px)translateZ(-36px) rotateX(90deg);
    }

    #ocho{

        transform:translateX(80px)translateZ(80px);

    }

    .desing-create{
        background:black;
        margin:10px;
        padding:5px;

    }

    ul{
    	list-style: none;
    }


    /*==========================================*/
    /*DISEÑO DEL MENU PRINCIPAL*/

    body{
        -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    margin:0;
	    padding:0;
		overflow-x:hidden;
		overflow-y:visible;
    }

    .Contenedor_principal{
    	background:white;
		width:100%;
		height:100%;
		margin:0;
    }

    .titulo{
        transform:translate(110%, 130%);
		width:300px;
		height:auto;
    }

    .titulo h1{
            animation: animate 5s linear infinite;
            background-image:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592511125/zhj93myxf9hhjdp754rh.jpg);
            background-repeat:repeat-x;
            -webkit-background-clip:text;
            text-align:center;
            background-size:100% 100%;

            font-family:arial;
            font-size:35px;
            color:rgba(225,225,225,.1);
    }


	.icon{
		border-radius:50%;
		width:45px;
	    height:45px;
	}

	.buyer{
		transform:translateX(410px)translateY(90px);
		border-radius:1px;
		width:150px;
		height:auto;
		background:transparent;

	}

	a{
		text-decoration:none;
	}

	.buy a{
		text-align:center;
		position:relative;
		color:black;
	}

	.buy{
		text-align:center;
		padding:7px;
		font-family: 'Dosis', sans-serif;
		font-size:15px;
		height:auto;
		width:125px;

		background-color:white;

	}

	.buyer .buy:hover{
		background:gray;
	}


	.slider_principal{
		height:auto;
		width:100%;
		transform:translate(44%, 800%);
	}

	 .slider_principal img:hover{
		background:red;
	}

	section h2{
		text-align:center;
	}


    .navegacion{
    	width:100%;
    	float:right;
    	height:auto;
    	margin:0;
    	transform:calc(auto, 1%);
    }
    .menu{
        width:100%;
        float:none;
    }
    .menu img:hover{
        border-radius:50%;
        border:1px solid white;
    }
    .navegacion ul{
        position:absolute;
    	list-style: none;
    }

    .menu > li{
    	display: inline-block;
    }

    .menu > li > a{
    	display: block;
    	padding: 10px 15px;
    	color: white;
    	font-family: fantasy;
    	text-decoration: none;
    	margin:10;
    }

    .menu li a:hover{
    	color:black;
    	transition: all .3s;
    }

    /* Submenu*/

    .submenu{
        animation:girar 1s;
    	position:relative;
    	background: black;
    	width:20%;
    	visibility: hidden;
    	opacity: 0;
    	transition: opacity 1s;
    }

    .submenu li a{
    	display: block;
    	padding: 15px;
    	color: #fff;
    	font-family: fantasy;
    	text-decoration: none;
    }

    .menu li:hover .submenu{
    	visibility: visible;
    	opacity: 1;
    }


	/*SECTION DE LA PAGINA PRINCIPAL*/
    /*SLIDER*/

    .slider{
        width:70%;
        margin:auto;
        overflow-x:hidden;
    }

    .slider ul{
        display:flex;
        padding:0;
        width:300%;
        animation:cambio 10s infinite;
        animation-direction:alternate;
        animation-timing-function: ease-in;
    }

    .slider li{
        width:100%;
        list-style: none;
    }

    .slider img{
        width:100%;
        height:400px;

    }

    @keyframes cambio{
        0% { margin-left:0; }
        30% { margin-left:0; }

        33%{ margin-left: -100%; }
        60%{ margin-left: -100%; }

        66%{ margin-left: -200%; }
        100%{ margin-left: -200%; }

    }

    /*STYLE OF THE DAY*/

    .style_day{
        margin:auto;
        width:35%;
        height:500px;
        border:30px solid rgba(226,226,226,1);
    }

    .style_day img{
        width:100%;
        height:100%;
    }

    /* Responsive */

    @media screen and (max-width: 420px){
        .desing{
            background:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592508020/bkukfelyfy5mzu4co6bw.jpg);
            background-size:100% 100%;
        }

        .titulo{
            transform:translate(-5%, 500%);
            margin:0;
            padding:0;

        }


        .titulo h1{
            animation: animate 5s linear infinite;
            background-image:url(https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592511125/zhj93myxf9hhjdp754rh.jpg);
            background-repeat:repeat-x;
            -webkit-background-clip:text;
            text-align:center;
            background-size:100% 100%;

            font-family:arial;
            font-size:35px;
            color:rgba(225,225,225,.1);
        }


        .buyer{
            transform:translateX(50%)translateY(1000%);
        }

        .navegacion{
            transform:translateX(0%);
            transform:translateY(0);
            font-size:12px;
            width:100%;
            height:12px;

        }
        .menu{
            width:100%;
            height:auto;
        }


        body{
            width:100%;
        }

        .icon{
            visibility:hidden;
        }

        .slider_public{
            width:90%;
        }

        .style_day{
            width:80%;
        }

        .slider{
            width:87%;
        }
    }

    @keyframes animate{
            0%{
                background-position:left 0px top 0px;
            }

            40%{
                background-position:left 400px top 0px;
            }

    }

    /*CREATE STYLES*/

    .contenedor-pulsera{
        background: #333;
        display:flex;
        min-height: 100vh;
        max-height: 100vh;

    }

    .desing-create{
        min-width:40%;
        max-width:40%;
    }

    .desing-create p{
        color:white;
    }
    .selector{
        background-color:gray;
        width:100%;
        height:60%;
        float:none;
    }

    .contenedor-piedra{
      float:none;
      width:80%;
      height:80%;
      border:1px solid black;
    }

    .contenedor-piedra{
        width:100%;
        height:100%;
    }