<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1591566067/h73wqoazbdbe7nod0ghu.jpg">
    <title>Disculpa | Onix Nicaragua</title>

</head>

<body style="background-color:#f6f1de">
    <!-- Inicio del navbar -->

  <nav class="navbar navbar-expand-lg navbar-light fixed-top rounded-bottom" style="background-color: #30415D;">
	  <a class="navbar-brand" href="/">
		  <img src="/static/logo.png" width="50" height="50" alt="">
		</a>

		<button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler bg-light" data-target="#navbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

		<div class="collapse navbar-collapse" id="navbar">
		  <ul class="navbar-nav mr-auto">
		    <li class="nav-item">
		      <a class="nav-link h5 text-light" href="/">Inicio</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link h5 text-light" href="/buy">Comprar</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link h5 text-light" href="/personalizada">Crear</a>
		    </li>

		       {% if session.user_id == 1 or session.user_id == 6 %}
	      <li class="nav-item">
	        <a class="nav-link h5 text-light" href="/Admin">Publicar</a>
	      </li>
		      {% endif %}
		  </ul>

		  {% if session.user_id %}
		  <ul class="navbar-nav ml-auto">
		    <li class="nav-item">
	        <a class="nav-link h5 text-light" href="/perfil">Editar Perfil</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link h5 text-light" href="/logout">Cerrar Sesión</a>
	      </li>
		  </ul>

			{% else %}

  		<ul class="navbar-nav ml-auto">
  		  <li class="nav-item">
  		    <a class="nav-link h5 text-light" href="/register">Registrarse</a>
  		  </li>
        <li class="nav-item">
          <a class="nav-link h5 text-light" href="/login">Iniciar Sesión</a>
        </li>
  		</ul>
		</div>
			{% endif %}

	</nav>

		                                          <!-- Fin del navbar -->
                                          		    <br><br><br><br>
    <center>
        <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png"/>
    </center>

<br><br><br><br>






    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>



