<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1591566067/h73wqoazbdbe7nod0ghu.jpg">
    <title>Buy | Onix Nicaragua</title>

    <font face="Berlin Sans FB">
      <div class="text-light" style="background-color:#30415D">
        <br>
        <center><h3>ONIX NICARAGUA</h3></center>
        <br>
     </div>
    </font>

</head>
<body  style="background-color:#b5afbd">
    <div class="container" >
      <br>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Comprar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/comprar">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Cantidad:</label>
                <input autocomplete="off" autofocus class="form-control" name="cantidad" placeholder="cantidad" type="number" min="1" required />
            </div>
              <div class="form-group">
                <div class="form-group">
                      <label for="exampleFormControlSelect1">Forma de Pago:</label>
                        <select class="form-control" name="category" id="category">
                        <option>Efectivo</option>
                      </select>
                  </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add to Car</button>
          </div>
        </div>
      </div>
    </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-fill " role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-dark h5" data-toggle="tab" href="#home">ONIX Parejas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark h5" data-toggle="tab" href="#menu1">ONIX Damas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark h5" data-toggle="tab" href="#menu2">Onix Caballeros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark h5" data-toggle="tab" href="#menu3">Otros</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="row row-cols-1 row-cols-md-3">

            {% for vista in vista %}
              <div class="col mb-4">
                <div class="card">
                  <img src="{{  vista.foto }}" class="card-img-top img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ vista.nombre}}</h5>
                    <p class="card-text text-center">{{ vista.descripcion }}</p>
                    <p class="card-text text-center font-weight-bold">C$ {{ vista.precio }}</p>
                  </div>
                  <div class="card-footer text-center">
                    {% if session.user_id == 1 or session.user_id == 6 %}
                      <a href="/eliminar/{{vista.nombre}}" class="btn btn-danger text-light" style="decoration:none">Eliminar</a>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Comprar</button>
                  </div>

                </div>
              </div>
            {% endfor %}

            </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>

          <div class="row row-cols-1 row-cols-md-3">
            {% for damas in damas %}
              <div class="col mb-4">
                <div class="card">
                  <img src="{{  damas.foto }}" class="card-img-top img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ damas.nombre}}</h5>
                    <p class="card-text text-center">{{ damas.descripcion }}</p>
                    <p class="card-text text-center font-weight-bold">C$ {{ damas.precio }}</p>
                  </div>
                  <div class="card-footer text-center">
                    {% if session.user_id == 1 or session.user_id == 6 %}
                     <a href="/eliminar/{{damas.nombre}}" class="btn btn-danger text-light" style="decoration:none">Eliminar</a>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Comprar</button>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>


        <div id="menu2" class="container tab-pane fade"><br>
         <div class="row row-cols-1 row-cols-md-3">
            {% for caballero in caballero %}
              <div class="col mb-4">
                <div class="card">
                  <img src="{{  caballero.foto }}" class="card-img-top img-thumbnail img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ caballero.nombre}}</h5>
                    <p class="card-text text-center">{{ caballero.descripcion }}</p>
                    <p class="card-text text-center font-weight-bold">C$ {{ caballero.precio }}</p>
                  </div>
                  <div class="card-footer text-center">
                    {% if session.user_id == 1 or session.user_id == 6 %}
                      <a href="/eliminar/{{caballero.nombre}}" class="btn btn-danger text-light" style="decoration:none">Eliminar</a>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Comprar</button>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
        </div>

        <div id="menu3" class="container tab-pane fade"><br>

          <div class="row row-cols-1 row-cols-md-3">
            {% for otros in otros %}
              <div class="col mb-4">
                <div class="card">
                  <img src="{{  otros.foto }}" class="card-img-top img-thumbnail" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{ otros.nombre}}</h5>
                    <p class="card-text text-center">{{ otros.descripcion }}</p>
                    <p class="card-text text-center font-weight-bold">C$ {{ otros.precio }}</p>
                  </div>
                  <div class="card-footer text-center">
                    {% if session.user_id == 1 or session.user_id == 6 %}
                      <a href="/eliminar/{{otros.nombre}}" class="btn btn-danger text-light" style="decoration:none">Eliminar</a>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Comprar</button>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>

        </div>


      </div>
    </div>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>