<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy | Onix Nicaragua</title>
    <link href="/static/styles.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>
<body>
    <header class="content_buy">
    <h2>ONIX PAREJAS</h2>
    <div class="slider_public">
        <ul id="navega">
        {%for vista in vista%}
            <li>
                <div class="publicacion">
                    <img src="{{ vista.foto }}">
                </div>
            </li>
            <li>
                <div class="info_buy">
                    <h2>{{ vista.nombre}}</h2>
                    <p>{{ vista.descripcion}}</p>
                    <button href="#" type="submit">Buy</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <h2>ONIX CABALLEROS</h2>
    <div class="slider_public">
        <ul id="navega">
        {%for caballero in caballero%}
            <li>
                <div class="publicacion">
                    <img src="{{ caballero.foto }}">
                </div>
            </li>
            <li>
                <div class="info_buy">
                    <h2>{{ caballero.nombre}}</h2>
                    <p>{{ caballero.descripcion}}</p>
                    <button href="#" type="submit">Buy</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <h2>ONIX DAMAS</h2>
     <div class="slider_public">
        <ul id="navega">
        {%for damas in damas%}
            <li>
                <div class="publicacion">
                    <img src="{{ damas.foto }}">
                </div>
            </li>
            <li>
                <div class="info_buy">
                    <h2>{{ damas.nombre}}</h2>
                    <p>{{ damas.descripcion}}</p>
                    <button href="#" type="submit">Buy</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <h2>¡OTROS!</h2>
     <div class="slider_public">
        <ul id="navega">
        {%for otros in otros%}
            <li>
                <div class="publicacion">
                    <img src="{{ otros.foto }}">
                </div>
            </li>
            <li>
                <div class="info_buy">
                    <h2>{{ otros.nombre}}</h2>
                    <p>{{ otros.descripcion}}</p>
                    <button href="#" type="submit">Buy</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    </header>

</body>
</html>