{% extends "buy.html" %}

{% block title %}
    Buy
{%endblock%}

{% block main %}
    <body class="form_buy">
        <form action="/buy_start">
            <label for="Nombres">Nombres:</label>
            <input name="Nombres" id="Nombres" type="text">
            <label for="Apellidos">Nombres:</label>
            <input name="Apellidos" id="Apellidos" type="text">
            <label for="Cantidad">Cantidad:</label>
            <input name="Cantidad" id="Cantidad" type="text">
        </form>
    </body>
{% endblock %}