<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personalizada | Onix Nicaragua</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1591566067/h73wqoazbdbe7nod0ghu.jpg">
</head>
<body>
    <section class="contenedor-pulsera">
    <div class="desing-create">

        <a href="/" color="white" style="font-size:25px">ONIX NICARAGUA</a>
        <hr>
        <p>
            CREA TU PROPIO DISEÑO
        </p>
        <div class="selector">
            <div class="content-piedra">
                <h4 style="text-align:center">PIEDRAS</h4>
                <div class="contenedor-piedra">
                <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592857109/hwtbvvakaxtz29exsrtg.jpg" class="imagw" alt="...">
                </div>
                <div class="contenedor-piedra">
                <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592855916/ydvxbcfxokoho5t0az2r.jpg" class="imagw" alt="...">
                </div>
                <div class="contenedor-piedra">
                <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592856572/qhczhzbm2hxj22axba4s.jpg" class="imagw" alt="...">
                </div>
                <div class="contenedor-piedra">
                <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592858884/iwi3enhctim2rfsgy1gl.jpg" class="imagw" alt="...">
                </div>
            </div>
            <div class="content-dije">
                <h4 style="text-align:center">DIJES</h4>
                <div class="contenedor-piedra">
                    <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592861719/k3qhr0cl7uzhcseily4f.jpg" class="imagw" alt="...">
                </div>
                 <div class="contenedor-piedra">
                    <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592871738/xm1rryvctchwsywnmpol.jpg" class="imagw" alt="...">
                </div>
                <div class="contenedor-piedra">
                    <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592871837/pyl4xyhgvrvjrbdrtd13.png" class="imagw" alt="...">
                </div>
                <div class="contenedor-piedra">
                    <img  id="blanca" src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592872006/dfgelmaulfjs8bqoxji8.png" class="imagw" alt="...">
                </div>
            </div>

        </div>

    </div>

    <!--Pulsera 3D -->
    <div class="content">

        <div class="circulo">
            <div class="cara back-piedra" id="uno"></div>
            <div class="cara back-piedra" id="uno-2"></div>
            <div class="cara back-piedra" id="uno-3"></div>

            <div class="cara back-piedra" id="dos"></div>
            <div class="cara back-piedra" id="dos-2"></div>
            <div class="cara back-piedra" id="dos-3"></div>

            <div class="cara back-piedra" id="tres"></div>
            <div class="cara back-piedra" id="tres-2"></div>
            <div class="cara back-piedra" id="tres-3"></div>

            <div class="cara back-piedra" id="cuatro"></div>
            <div class="cara back-piedra" id="cuatro-2"></div>
            <div class="cara back-piedra" id="cuatro-3"></div>

            <div class="cara back-piedra" id="cinco"></div>
            <div class="cara back-piedra" id="cinco-2"></div>
            <div class="cara back-piedra" id="cinco-3"></div>

            <div class="cara back-piedra" id="seis"></div>
            <div class="cara back-piedra" id="seis-2"></div>
            <div class="cara back-piedra" id="seis-3"></div>

            <div class="cara back-piedra" id="siete"></div>
            <div class="cara back-piedra" id="siete-2"></div>
            <div class="cara back-piedra" id="siete-3"></div>

            <div class="cara back-piedra" id="nueve"></div>
            <div class="cara back-piedra" id="nueve-2"></div>
            <div class="cara back-piedra" id="nueve-3"></div>

            <div class="cara back-piedra" id="dies"></div>
            <div class="cara back-piedra" id="dies-2"></div>
            <div class="cara back-piedra" id="dies-3"></div>

            <div class="cara back-piedra" id="once"></div>
            <div class="cara back-piedra" id="once-2"></div>
            <div class="cara back-piedra" id="once-3"></div>

            <div class="cara back-piedra" id="doce"></div>
            <div class="cara back-piedra" id="doce-2"></div>
            <div class="cara back-piedra" id="doce-3"></div>

            <div class="cara back-piedra" id="trese"></div>
            <div class="cara back-piedra" id="trese-2"></div>
            <div class="cara back-piedra" id="trese-3"></div>

            <div class="cara back-piedra" id="catorse"></div>
            <div class="cara back-piedra" id="catorse-2"></div>
            <div class="cara back-piedra" id="catorse-3"></div>

            <div class="cara back-piedra" id="quince"></div>
            <div class="cara back-piedra" id="quince-2"></div>
            <div class="cara back-piedra" id="quince-3"></div>

            <div class="cara back-piedra" id="diesiseis"></div>
            <div class="cara back-piedra" id="diesiseis-2"></div>
            <div class="cara back-piedra" id="diesiseis-3"></div>

            <div class="cara back-dije" id="ocho"></div>


        </div>
    </div>
    </section>

    <script src="/static/create.js"></script>
</body>
</html>