<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ONIX NICARAGUA</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Montserrat:wght@100&family=Pacifico&family=Raleway:wght@100&family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1591566067/h73wqoazbdbe7nod0ghu.jpg">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
</head>
<body>
	<div class="Contenedor_principal">
		<header class="desing">
	        {% if session.user_id == 1 or session.user_id == 6 %}
	        <nav class="navegacion">
			    <ul class="menu">
				    <li><a href="#">INICIO</a>
					    <ul class="submenu">
							<li><a href="/logout">Logout</a></li>
							<li><a href="#">Perfil</a></li>
						</ul>
					</li>
					 <li>
					    <a href="/Admin">ADMIN</a></a>
					</li>
					 <li>
					    <a href="/personalizada">CREAR</a>
					</li>
					<li>
						<a href="/compras"><img  src="/static/car.png"></a>
					</li>
			    </ul>
		    </nav>
	        {% else %}
				{% if session.user_id%}
	        <nav class="navegacion">
			    <ul class="menu">
				    <li><a href="#">INICIO</a>
					    <ul class="submenu">
					    	<li><a href="/login">log in</a></li>
					    	<li><a href="/register">register</a></li>
							<li><a href="/logout">Logout</a></li>
							<li><a href="#">Perfil</a></li>
						</ul>
					</li>
					 <li>
					    <a href="/personalizada">CREAR</a>
					</li>
					<li>
						<a href="/compras"><img  src="/static/car.png"></a>
					</li>
			    </ul>
		    </nav>
		    	{% else %}
			<nav class="navegacion">
			    <ul class="menu">
				    <li><a href="#">INICIO</a>
					    <ul class="submenu">
					    	<li><a href="/login">log in</a></li>
					    	<li><a href="/register">register</a></li>
						</ul>
					</li>
					 <li>
					    <a href="/personalizada">CREAR</a>
					</li>
					<li>
					    <a href="/about">ABOUT</a>
					</li>
			    </ul>
		    </nav>
				{% endif %}
	        {% endif %}
			<div class="titulo"><h1>ONIX NICARAGUA</h1></div>
	        <div class="buyer">
				<ul class="buy">
					<a href="/buy">BUY NOW!</a>
				</ul>
	    	</div>
    	</header>
	 	<section>
	 		<br>
	 		<h2>¡NEW COLECCTION!</h2>
			<div class="slider">
				<ul>
					<li><img src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592021124/utva4eu998vdjcp4r9uu.jpg" alt=""></li>
					<li><img src="https://scontent.fmga6-1.fna.fbcdn.net/v/t1.0-9/103189680_270078184339614_2089167276433212893_n.jpg?_nc_cat=105&_nc_sid=8bfeb9&_nc_ohc=b3xX6ABPxxsAX_rhG2J&_nc_ht=scontent.fmga6-1.fna&oh=d53ac7646e47648f89691f6062bd9045&oe=5F0BE814" alt=""></li>
					<li><img src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592018164/xwgh0vpfwd9lefdxnfh0.jpg" alt=""></li>
				</ul>
			</div>
			<br>
			<h2>STYLE OF THE DAY</h2>
			<div class="style_day">
				<img src="https://res.cloudinary.com/dzlbg8ni6/image/upload/v1592021452/e9wydum7vtgxws65ixf7.jpg" alt="">
			</div>

		</section>
		<article>
			<p align="center">Pagina creada por Team-OnixNic contactanos +505 85866402 </P>
			<p align="center"> o al correo Ferschoneich@gmail.com, Managua Nicaragua 2020 </p>
		</article>
	</div>
</body>

</html>
