<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ONIX NICARAGUA</title>
    <link href="/static/styles.css" rel="stylesheet">
        <style type= "text/css">
     body{
            background-image:url(/resources/fondo.jpg);
                background-size:100% 100%;
                    background-repeat:no-repeat;
                        background-attachment:fixed;
        }
    </style>
</head>
<body>
    <div class="desing">
        <img src="resources/logo.jpg" height= "38" align="right">

        <nav>
            <a href="/sing_up"> <button class="boton" type="submit">iniciar sesion</button></href>
            <a href="/register"> <button class="boton" type="submit">Registrarme</button></href>
        </nav>
    </div>
</body>
</html>