<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/styles.css" rel="stylesheet" >

</head>
<body id="fondo">
    <div id="parte2">
            <h3>REGISTRATE:</h3>
            <label for="username">Usuario:</label>
            <h4></h4>
            <input class= "borde-redondo" name= "user" type="text" id="username" placeholder="username">
            <h1></h1>
            <label for="Password">Contraseña:</label>
            <h4></h4>
            <input class= "borde-redondo" name= "pass" type="password" id="Password" placeholder="contraseña">
            <h1></h1>
            <label for="Pass">Verifique contraseña:</label>
            <h4></h4>
            <input class= "borde-redondo" name= "vpass" type="password" id="Pass" placeholder="contraseña">
            <h1></h1>
            <button class="boton" type="submit">Registrarme</button></button>
        </div>
</body>
</html>