<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | Onix Nicaragua</title>
    <link href="/static/styles.css" rel="stylesheet" >
     <style type= "text/css">
     body{
            margin:0;
            padding:0;
            background:url(https://www.xtrafondos.com/wallpapers/cubos-3d-neon-3313.jpg) no-repeat center top;
            background-size:cover;
            font-family:sans-serif;
            height:100vh;
        }
     </style>
</head>

<body>
    <div id="parte1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaZyUjIA0TxnxhhE7_VFVMlsGph-WURRPO8V1fvoIMsUYkEKu6&usqp=CAU" class="avatar">
        <form action="/inicio" method="POST">
            <label for="username" style="color:white";>Usuario:</label>

            <input  name= "username" type="text" id="username" placeholder="usuario">

            <label for="Password" style="color:white";>Contraseña:</label>

            <input  name= "password" type="password" id="Password" placeholder="contraseña">

            <button  class="botonIni" type="submit">inciar sesion</button></button><hr color="black">
            <nav>
                 <a href="/ups">olvide la contraseña?</href><hr color="black">
                 <a href="register.html">registrarme?</href>
            </nav>
</body>
</html>
